.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    /* align-content: center; */
    
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 20pt;
    margin-right: 20pt;
  }
  
  .title {
    font-size: 2.5rem;
    color: #333;
    
  }
  
  .loginButton {
    padding: 10px 20px;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .logoutButton {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .logoutButton:hover {
    background-color: #d32f2f;
  }
  
  .estilistasGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .estilistaCard {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .estilistaCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  }
  
  .estilistaName {
    font-size: 1.5rem;
    color: #2196f3;
    margin-bottom: 10px;
  }
  
  .estilistaInfo {
    margin-bottom: 5px;
    color: #555;
  }
  
  .estilistaRates {
    list-style-type: none;
    padding: 0;
  }
  
  .estilistaRates li {
    margin-bottom: 5px;
  }
  
  .estilistaImage {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    margin-top: 10px;
  }