.container {
  padding: 20px;
  background-color: #f0f2f5; /* Fondo claro que resalta el contenido */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombras suaves para elevar el contenedor */
  font-family: 'Arial', sans-serif;
}

.columns {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Espacio entre columnas */
}

.column {
  width: 30%;
  background-color: #fff; /* Fondo blanco para las columnas */
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s; /* Animación suave */
}

.column:hover {
  transform: translateY(-5px); /* Efecto de elevación al pasar el cursor */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left; /* Alineación izquierda para mejor lectura */
  font-size: 16px;
  color: #333;
}

.table th {
  background-color: #007BFF; /* Color de fondo vibrante para el encabezado */
  color: white;
  font-weight: bold;
  text-transform: uppercase; /* Texto en mayúsculas para el encabezado */
}

.table td {
  background-color: #f9f9f9;
}

.table tr:nth-child(even) td {
  background-color: #e9ecef; /* Alternancia de colores en filas */
}

.table tr:hover td {
  background-color: #d6d8db; /* Fondo más oscuro al hacer hover */
}


.pagination {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px; /* Espacio entre botones */
}

.pagination button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Animación suave */
}

.pagination button:hover {
  background-color: #0056b3; /* Cambio de color al pasar el cursor */
  transform: translateY(-3px); /* Efecto de elevación */
}

.pagination button:disabled {
  background-color: #6c757d; /* Color desactivado para botones inactivos */
  cursor: not-allowed;
}

.pagination button:disabled:hover {
  transform: none; /* Sin efecto hover en botones desactivados */
}
