/* Contenedor principal para los tabs */
.container {
  padding: 20px;
  background-color: #e5effd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  width: 100%;
  box-sizing: border-box;
}

/* Estilos para la estructura de tabs */
.tab {
padding: 15px 25px;
background-color: #e3f2fd; /* Color de fondo ligero */
color: #333; /* Color de texto oscuro para buena legibilidad */
border: 1px solid #90caf9; /* Borde de un tono ligeramente más oscuro */
border-radius: 12px; /* Bordes redondeados */
font-size: 16px;
font-weight: 500;
cursor: pointer;
transition: background-color 0.3s ease, border-color 0.3s ease; /* Transición suave */
}

.tab:hover {
  background-color: #bbdefb; /* Fondo más oscuro en hover */
  border-color: #64b5f6; /* Borde más oscuro en hover */
}


.tabs {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.tabButton {
  flex-grow: 1;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 10px 10px 0 0;
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.tabButton.active {
  background-color: #007BFF;
  color: white;
}

.tabButton:hover {
  background-color: #f1f1f1;
}

/* Contenedor de contenido para cada tab */
.tabContent {
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

/* Tabla de reviews dentro de cada tab */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  font-size: 16px;
  color: #333;
}

.table th {
  background-color: #007BFF;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.table td {
  background-color: #f9f9f9;
}

.table tr:nth-child(even) td {
  background-color: #e9ecef;
}

.table tr:hover td {
  background-color: #d6d8db;
}

/* Botones de acción */
.popupButtonApprove,
.popupButtonPending,
.popupButtonDecline {
  color: white;
  margin: 5% 5%;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
}

.popupButtonApprove {
  background-color: #4CAF50;
}

.popupButtonApprove:hover {
  background-color: #45a049;
}

.popupButtonPending {
  background-color: #FFEB3B;
  color: #333;
}

.popupButtonPending:hover {
  background-color: #FDD835;
}

.popupButtonDecline {
  background-color: #ff0000;
}

.popupButtonDecline:hover {
  background-color: #d3361b;
}

/* Paginación */
.pagination {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.pagination button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.pagination button:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
}

.pagination button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.pagination button:disabled:hover {
  transform: none;
}
