
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para el contenido del modal */
.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

/* Imagen del documento dentro del modal */
.documentImage {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Botones */
.buttonsContainer {
    margin-top: 20px;
}

.approveButton, .rejectButton {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.approveButton {
    background-color: green;
    color: white;
}

.rejectButton {
    background-color: red;
    color: white;
}

/* Botón para cerrar el modal */
.closeButton {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

